* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-nav {
transform: translateX(-100%);
}


.mobile-nav.open {
transform: translateX(0%);
}
nav ul li:active {
    color: rgb(192, 40, 40);
}